#content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 70%;
}

#magnaName {
    font-family: Special;
    font-size: 3rem;
    color: var(--color3);
    text-align: center;
    margin-bottom: 1rem;
}

#catch {
    font-size: 1.5rem;
    color: var(--color3);
    text-align: center;
    margin-bottom: 0.3rem;
}

#smallerCatch {
    font-size: 1rem;
    color: var(--color3);
    text-align: center;
}
