#menuC {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.dish {
    height: 30vh;
    width: 20vw;
    margin: 1.5rem;
    border-radius: 12px;
    border: solid 1px;
    border-color: var(--color3);
    justify-content: center;
    align-content: center;
    color: var(--color3);
    text-align: center;
}

.dish > p {
    margin: 0;
}

#carboDish {
    height: auto;
    width: 18vw;
}

#paperaDish {
    height: auto;
    width: 18vw;
}

#fumeDish {
    height: auto;
    width: 18vw;
}

#disclaimer {
    text-align: center;
    color: var(--color3);
}